.cart-widget {
  list-style: none;
  display: flex;
  align-items: center; /* Alinea verticalmente el CartWidget */
}

.boton-carrito {
  background: none; 
  border: none;
  color: white; 
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.boton-carrito .fa-shopping-cart {
  margin-right: 0.5rem;
  color: yellow; 
}

.contadorCarrito {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Media queries */
@media (max-width: 768px) {
  .boton-carrito {
    font-size: 1.2rem; 
  }

  .contadorCarrito {
    font-size: 0.9rem; 
  }

  .cart-widget {
    justify-content: center; 
    width: 100%;
  }
}

/* Media queries */
@media (max-width: 480px) {
  .boton-carrito {
    font-size: 1rem; 
  }

  .contadorCarrito {
    font-size: 0.8rem; 
  }

  .cart-widget {
    justify-content: center; 
    width: 100%;
  }
}
